.navbar {
  background-color: #211f1f;
  width: 100%;
  padding-top: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.navbar-logo {
  margin-left: 18px;
  align-items: center; }

.navbar-logo .logo {
  height: 80px;
  width: auto; }

.navbar-links {
  list-style: none;
  display: flex;
  margin-left: 60px;
  padding: 0;
  flex-grow: 1;
  justify-content: left; }

.navbar-links li {
  margin-right: 50px;
  position: relative; }

.navbar-links li a {
  font-size: 20px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  transition: color 0.3s ease; }

.navbar-links li a:hover {
  color: #c9c0ba; }

.navbar-links li a:hover::after {
  width: 100%; }

.navbar-links li a::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #939393;
  transition: width 0.3s ease; }

.navbar-links li a.active {
  color: #ede5e0; }

.navbar-links li a.active::after {
  width: 100%; }

.navbar-icons {
  display: flex;
  align-items: center;
  margin-right: 30px; }

.navbar-icons i {
  font-size: 26px;
  color: white;
  cursor: pointer; }

body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  color: #333; }

.background {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 5px; }

.background-slider {
  background-image: url(/assets/Banner-cf76b940f3cfabab5f78e629bdd73f785daa3e71fee669914c7ddefc8c79e364.png);
  background-position: center;
  width: 80%;
  height: 120px;
  padding-top: calc(400 / 1500 * 100%);
  position: relative;
  overflow: hidden;
  border-radius: 10px; }

.background-slider::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(/banner.png);
  background-position: center;
  background-size: cover; }

.container {
  display: flex;
  width: 90%;
  margin-left: 7%;
  background-color: #ffffff;
  padding-top: 4px;
  justify-content: space-between;
  align-items: center; }

.side,
.content,
.other {
  padding: 1px; }

.side {
  flex: 0 0 20%;
  background: white;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 2px 4px #242424; }

.logo1 {
  width: 180px;
  height: 90px;
  margin-left: 20%; }

.search-form {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 5px; }

.search-input {
  padding: 6px;
  border: none;
  flex: 1;
  outline: none;
  font-size: 18px; }

.search-button {
  background-color: #eee;
  border: none;
  padding: 15px;
  cursor: pointer;
  color: #555; }

.search-button i {
  font-size: 20px; }

.dish-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.dish-item {
  width: 300px;
  margin: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px; }

.dish-item img {
  display: block;
  margin: 0 auto 10px;
  width: 250px;
  height: 200px; }

.dish-price {
  font-weight: bold; }

.content {
  flex: 0 0 55%;
  background-color: white; }

.other {
  flex: 0 0 20%;
  background-color: lightcoral; }
